*{
    margin: 0;
    padding: 0;
    font-family: 'Space Grotesk',sans-serif;
    box-sizing: border-box;
}


.container{
    width: 100%;
    height: 100vh;
    background:#F6F1E9;
    display: flex;
    align-items: center;
    justify-content: center;
}

.passgen{
    margin: 10px;
    width: 450px;
    max-width: 700px;
    height: 700px;
    padding: 30px;
    background: #FEFBF6;
    color: #4F200D;
    border-radius: 10px;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.4);
    position: relative;
    display: grid;
    grid-template-rows: 1fr;
    grid-gap: 10px;


}

h1{
    padding: 10px;
    /* margin-bottom: 10px; */
    font-size:30px;
    /* top:30px;
    left: 50%; */
    text-align: center;
    position: relative;
    max-block-size: 50px;
}

h1::after{
    content: '';
    width: 75px;
    height: 3px;
    border-radius: 3px;
    background: #4F200D;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translate(-50%);
}

.circle{
    display: block;
    width: 250px;
    height: 250px;
    background: #F7F4E1;
    border-radius: 50%;
    position: relative;
    float: left;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 2px 2px 40px rgba(0, 0, 0, 0.1);
}

.circle img{
    width: 140px;
    height: 140px;
    mix-blend-mode:darken;
    background: transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    filter: invert(87%) sepia(39%) saturate(2533%) hue-rotate(345deg) brightness(104%) contrast(92%) drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.18));
    margin-bottom: 50px;
}

p{
    position: absolute;
    margin-top: 20px;
    top: 55%;
    right: 5px;
    left: 5px;
    text-align: center;
}


.display{
    width: 100%;
    margin-top: 50px;
    margin-bottom: 30px;
    color: #4F200D;
    display: block;
    top: 75%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 26px 20px;
    gap: 10px;
    
}

input{
    width: 100%;
    padding: 10px;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid #F5C61D;
    border-radius: 10px;
    color: #4F200D;
}




.display img{
    width: 40px;
    height: 40px;
    mix-blend-mode:multiply;
    background: transparent;
    filter: invert(87%) sepia(39%) saturate(2533%) hue-rotate(345deg) brightness(104%) contrast(92%) drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.18));
}

#copy:focus{
    background: #F7F4E1;
    transform: translate(2px);
   
}

.generate{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

button{
    width: 150px;
    height: 50px;
    background-color: #F5C61D;
    color: #4F200D;
    padding: 10px;
    border: none;
    outline: none;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2) , 2px 2px 20px rgba(0, 0, 0, 0.12) inset;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: 600;
}

button:focus{
    background: #F7F4E1; 
}

button:not(:focus){
    background: #F5C61D;
}
